@CHARSET "ISO-8859-1";
.menuu_list{
  list-style: none;
}

.menuu_horizontaalselt{
  display: inline;
  float:left;
  display:block;
}

.centered_frame
{
	position:absolute;
	left:200px;
}

.banner_position
{
	position:absolute;
	left:9px;
	top:50px;
}

.menu_position
{
	position:absolute;
	left:0px;
	top:114px;
}

.projekt_selected_pos
{
	position:absolute;
	left:0px;
}

.pipeline_selected_pos
{
	left:151px;
}

.tootajad_selected_pos
{
	left:132px;
}

.rahavoog_selected_pos
{
	left:140px;
}

.menu_button_text
{
	position:absolute;
	top:12px;
	left:35px;
	font-family:arial;
	font-size:20;
}

.projektid_text
{
	left:0px:
}

.pipeline_text
{
	position:absolute;
	top:0px;
	left:150px;
}

.tootajad_text
{
	position:absolute;
	top:0px;
	left:125px;
}

.rahavoog_text
{
	position:absolute;
	top:0px;
	left:150px;
}

a
{
	text-decoration:none;
}

.login_as
{
	position:absolute;
	left:850px;
	top:125px;
	width:250px;
}

.textontop
{
	position:absolute;
	left:50px;
	top:200px;
}

.statustext
{
	

	margin-left:20px;
	width:175px;
	font-family:arial;
	font-size:20;
	left:10px;
	top:0px;
	overflow:auto;
}

.statusdivider
{
	
	width:155px;
}

.addbutton
{
	
	top:-10px;
	right:0px;
}

.scrollwindow
{
	
	left:10px;
	top:50px;
	height:375px;
	width:180px;
	border:1px solid #F6F4F0;
	background-color:#F6F4F0;
	overflow:auto;
}

.divNextToEachOther
{
	float:left;
	
}

.staatusteKonteiner
{
	height:500;
	
}

.project
{
	position:relative;
	left:10px;
	top:5px;
	width:150px;
	background-color:white;
}

body
{
	background-color:#F6F4F0;
}