


#rahavooDiv{
	left:10px;
	position:absolute;
	top:170px;
	width:1170px;
	height:465px;
	overflow-x:auto;
	overflow-y:auto;
}

#yldKuludeTabel{
	max-width:650px;
	min-width:650px;
	border:1px dotted #74CEFF;
}

.yldKuluNimetusCell{
	min-width:250px;
	max-width:250px;
}
.yldKuluNimetusInput{
	min-width:200px;
	max-width:200px;
}

.yldKuluSummaCell{
	min-width:80px;
	max-width:80px;
}
.yldKuluSummaInput{
	min-width:80px;
	max-width:80px;
}

.yldKuluKuup‰evCell{
	min-width:80px;
	max-width:80px;
}
.yldKuluKuup‰evInput{
	min-width:80px;
	max-width:80px;
}

.yldKuluKorduvCell{
	min-width:20px;
	max-width:20px;
}

.tuluSumma
{
	color:#00CC00;
}
.kuluSumma
{
	color:#FF0000;
}

.projektiNimeLahter{
	width:330px;
}

#kirjelduseVali {
	width:530px;
	max-width:530px;
	height:150px;
}

.kommentaariVali {
	width:420px;
	max-width:420px;
	heigh:50px;
}

#kasutajateTabel{
	min-width:620px;
	max-width:620px;
}
.osalusVeerg {
	max-width:70px;
	align:center;
	text-align:center;
}
.vastutajaVeerg{
	max-width:100px;
	text-align:center;
}
.aktiivneVeerg{
	max-width:100px;
	text-align:center;
}
.nimeVeerg{
	min-width:300px;
	max-width:300px;
}
.tyhiVeerg{
	min-width:20px;
	max-width:20px;
}

.tootajaPalk{
	background-color:#FFE6E6;
}
.palgaKuluLahter{
	background-color:#FFE1FF;
}
.tuluLahter{
	background-color:#E6FAE6;
}
.tootajaTabelHeaderV‰li{
	background-color:#74CEFF;
}
#tootajateTabel{
	margin-left:10px;
}
#tootajateTabel td{
	padding:5px;
}
#tootajateTabel td.tootajaNimi{
	min-width:150px;
	max-width:150px;
}
#salvestaTootajatePalgad{
	margin-left:10px;
}
#aastateValikud{
	margin-left:10px;
}
#tootajadTabelDiv{
	position:absolute;
	top:170px;
	width:1170px;
	height:485px;
	overflow-x:auto;
	overflow-y:auto;
}
.tootajaPalgaMuutmiseLahter{
	min-width:50px;
	max-width:50px;
}
.kuluLisamiseNupp{
	position: absolute;
	top: 115px;
	left: 275px;
}
.kuluPalkCheck{
		position: absolute;
	top: 120px;
	left: 325px;
}

.teade‹levalProjektDetail{
	font-weight:bold;
	text-align:center;
	font-size:20;
	
	position:absolute;
	left:100px;
	height: 25px;
	width: 1250px;
   	background-color:#74CEFF;
   	top: 10px;
}

.teade‹levalProjektid{
	font-weight:bold;
	text-align:center;
	font-size:20;
	
	position:absolute; 
	left:0px;
	height: 25px;
	width: 100%;
   	background-color:#74CEFF;
   	top: 0px;
}
#tootajadTabelLegend{
	heigth:20px;
}
#legendTulu{
	width:110px;
}
#legendKuuPalk{
	width:110px;
}
#legendProjektiPalk{
	width:180px;
}


.projektDetailNupp{
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	display:inline-block;
	-moz-box-shadow:inset 0px 1px 0px 0px #666666;
	-webkit-box-shadow:inset 0px 1px 0px 0px #666666;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #74CEFF), color-stop(1, #74CEFF) );
	background:-moz-linear-gradient( center top, #ededed 5%, #3FBBFF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74CEFF', endColorstr='#74CEFF');
	
	font-weight:bold;
	background-color:#74CEFF;
	border:1px solid #0066FF;
}

.projektDetailNupp:hover{
	opacity: 0.6;
	border:1px solid #ffffff;
}



.punaneProjektDetailNupp{
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	display:inline-block;
	-moz-box-shadow:inset 0px 1px 0px 0px #666666;
	-webkit-box-shadow:inset 0px 1px 0px 0px #666666;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF6666), color-stop(1, #FF6666) );
	background:-moz-linear-gradient( center top, #ededed 5%, #FF6666 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6666', endColorstr='#FF6666');
	
	font-weight:bold;
	background-color:#FF6666;
	border:1px solid #FF1919;
}

.punaneProjektDetailNupp:hover{
	opacity: 0.6;
	border:1px solid #ffffff;
}



.logiTabel td{
	max-width:630px;
	word-wrap: break-word;
}
.logiTabel {
	margin:0px;padding:0px;
	width:630;
	border:1px dotted #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.logiTabel table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.logiTabel tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.logiTabel table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.logiTabel table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.logiTabel tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.logiTabel tr:hover td{
	background-color:#74CEFF;
		

}
.logiTabel td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px dotted #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.logiTabel tr:last-child td{
	border-width:0px 1px 0px 0px;
}.logiTabel tr td:last-child{
	border-width:0px 0px 1px 0px;
}.logiTabel tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.logiTabel tr:first-child td{
		background:-o-linear-gradient(bottom, #74CEFF 5%, #74CEFF 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #74CEFF), color-stop(1, #74CEFF) );
	background:-moz-linear-gradient( center top, #74CEFF 5%, #74CEFF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#74CEFF", endColorstr="#74CEFF");	background: -o-linear-gradient(top,#74CEFF,#74CEFF);

	background-color:#74CEFF;
	border:0px dotted #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.logiTabel tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #74CEFF 5%, #74CEFF 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #74CEFF), color-stop(1, #74CEFF) );
	background:-moz-linear-gradient( center top, #74CEFF 5%, #74CEFF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#74CEFF", endColorstr="#74CEFF");	background: -o-linear-gradient(top,#74CEFF,#74CEFF);

	background-color:#74CEFF;
}
.logiTabel tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.logiTabel tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}




.kommentaariTabel td{
	max-width:515px;
	word-wrap: break-word;
}
.kommentaariTabel {
	margin:0px;padding:0px;
	max-width:515px;
	width:515px;
	border:1px dotted #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.kommentaariTabel table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.kommentaariTabel tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.kommentaariTabel table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.kommentaariTabel table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.kommentaariTabel tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.kommentaariTabel tr:hover td{
	background-color:#74CEFF;
		

}
.kommentaariTabel td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px dotted #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.kommentaariTabel tr:last-child td{
	border-width:0px 1px 0px 0px;
}.kommentaariTabel tr td:last-child{
	border-width:0px 0px 1px 0px;
}.kommentaariTabel tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.kommentaariTabel tr:first-child td{
	background:-o-linear-gradient(bottom, #74CEFF 5%, #74CEFF 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #74CEFF), color-stop(1, #74CEFF) );
	background:-moz-linear-gradient( center top, #74CEFF 5%, #74CEFF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#74CEFF", endColorstr="#74CEFF");	background: -o-linear-gradient(top,#74CEFF,#74CEFF);

	background-color:#74CEFF;
	border:0px dotted #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.kommentaariTabel tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #74CEFF 5%, #74CEFF 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #74CEFF), color-stop(1, #74CEFF) );
	background:-moz-linear-gradient( center top, #74CEFF 5%, #74CEFF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#74CEFF", endColorstr="#74CEFF");	background: -o-linear-gradient(top,#74CEFF,#74CEFF);

	background-color:#74CEFF;
}
.kommentaariTabel tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.kommentaariTabel tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
