.tuluSumma
{
	color:#00CC00;
}
.kuluSumma
{
	color:#FF0000;
}

#kirjelduseVali {
	width:530px;
	height:150px;
}

.kommentaariVali {
	width:430px;
	heigh:50px;
}

.osalusTabeliLahter {
	width:50px;
}


.logiTabel {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px dotted #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.logiTabel table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.logiTabel tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.logiTabel table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.logiTabel table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.logiTabel tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.logiTabel tr:hover td{
	background-color:#ffffff;
		

}
.logiTabel td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px dotted #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:4px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.logiTabel tr:last-child td{
	border-width:0px 1px 0px 0px;
}.logiTabel tr td:last-child{
	border-width:0px 0px 1px 0px;
}.logiTabel tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.logiTabel tr:first-child td{
		background:-o-linear-gradient(bottom, #cccccc 5%, #cccccc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #cccccc) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#cccccc");	background: -o-linear-gradient(top,#cccccc,cccccc);

	background-color:#cccccc;
	border:0px dotted #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.logiTabel tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #cccccc 5%, #cccccc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #cccccc) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#cccccc");	background: -o-linear-gradient(top,#cccccc,cccccc);

	background-color:#cccccc;
}
.logiTabel tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.logiTabel tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}





.kommentaariTabel {
	margin:0px;padding:0px;
	width:100%;
	border:1px dotted #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.kommentaariTabel table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.kommentaariTabel tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.kommentaariTabel table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.kommentaariTabel table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.kommentaariTabel tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.kommentaariTabel tr:hover td{
	background-color:#b5daff;
		

}
.kommentaariTabel td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px dotted #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.kommentaariTabel tr:last-child td{
	border-width:0px 1px 0px 0px;
}.kommentaariTabel tr td:last-child{
	border-width:0px 0px 1px 0px;
}.kommentaariTabel tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.kommentaariTabel tr:first-child td{
		background:-o-linear-gradient(bottom, #b5daff 5%, #b5daff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b5daff), color-stop(1, #b5daff) );
	background:-moz-linear-gradient( center top, #b5daff 5%, #b5daff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#b5daff", endColorstr="#b5daff");	background: -o-linear-gradient(top,#b5daff,b5daff);

	background-color:#b5daff;
	border:0px dotted #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.kommentaariTabel tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #b5daff 5%, #b5daff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b5daff), color-stop(1, #b5daff) );
	background:-moz-linear-gradient( center top, #b5daff 5%, #b5daff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#b5daff", endColorstr="#b5daff");	background: -o-linear-gradient(top,#b5daff,b5daff);

	background-color:#b5daff;
}
.kommentaariTabel tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.kommentaariTabel tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}